.container {
  position: relative;
  cursor: none;
  background: linear-gradient(to left, #859398, #283048);
}

.page {
  font-size: 2rem;
  background: var(--color-terciary);
}

.intro {
  padding: 40vh 0 5vh 10vw;

  &__title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &--1 {
    margin-top: 8rem;
    margin-bottom: 12rem;
    max-width: 55ch;
    line-height: 1.3;
  }

  &--photo {
    background: url(/public/assets/images/me.jpg);
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 7px 0 lightgray;
    position: absolute;
    top: 5%;
    right: 20%;
    animation: fadeIn 6s;
  }
}

.story {
  background: linear-gradient(to left, #859398, #283048);
  font-weight: bold;
  letter-spacing: 0.2px;

  &__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20vw;
    padding: 5vh 0;
    gap: 3rem;
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transform: translate(-10%);
    transition: all 3s;

    &.dot {
      height: 10vh;
      padding: 0;
      font-size: 3rem;
    }
  }

  &--tag {
    margin-left: 15vw;
    letter-spacing: 0.3px;
  }

  &__paragraph {
    font-size: 1.7rem;
    width: 75ch;

    & > li {
      list-style-type: circle;
      margin-left: 4rem;
      font-size: 1.5rem;
    }
  }

  &--highlight {
    color: var(--text-fourth);
    font-size: 1.9rem;
  }

  &--scratch {
    text-decoration: line-through;
  }
}
svg {
  margin: -1% 0;
}

.cursor--element + .footer--grid:hover {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px 1px white;
  animation: scale 5s infinite;
  background: white;
}
.footer--grid {
  height: 100vh;
  color: #333;
  font-size: 3.5rem;
  padding: 3rem;
  font-weight: bold;
  mix-blend-mode: darken;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ". . a a . g"
    "b b . . . ."
    ". . qr qr c c"
    "d . qr qr . ."
    ". e . . f ."
    ". . . date date date";
}

.text1 {
  grid-area: a;
}
.text2 {
  grid-area: b;
}
.text3 {
  grid-area: c;
}
.text4 {
  grid-area: d;
}
.text5 {
  grid-area: e;
}
.text6 {
  grid-area: f;
}
.text7 {
  grid-area: g;
}
.qr {
  grid-area: qr;
}
.date {
  grid-area: date;
  font-size: 2rem;
  align-self: flex-end;
  justify-self: flex-end;
}

.cursor--element {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px solid white;
  border-radius: 50%;

  &.lantern {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px 1px white;
    animation: scale 5s infinite;
    background: white;
  }
}

.sidebar {
  position: fixed;
  right: 0%;
  top: 23%;
  z-index: 999;

  &--btn {
    background: var(--color-accent-primary);
    box-shadow: 0 0 3px 0 var(--color-accent-secondary);
    color: var(--color-accent-secondary);
    width: 6rem;
    height: 6rem;
    margin-bottom: 4rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-accent-secondary);
    }

    &:hover {
      scale: 1.1;
      background: var(--color-secondary);
    }
  }
}

.show {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  transform: translateX(0%);
}

.contact__modal {
  position: fixed;
  right: 6%;
  bottom: 6%;
  background: var(--color-secondary);
  color: white;
  height: 60px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 white;
  animation: moveInRight 3s;
}

.backTop {
  display: none;
  position: fixed;
  z-index: 999;
  left: 1.5%;
  bottom: 3%;
  background: #ccc;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px 0 white;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
