.skills {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__flex {
    display: flex;
    gap: 5rem;
    padding-left: 2rem;
    text-align: center;
  }
}

.skills__grid {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-auto-flow: column;
  width: min-content;
  gap: 3rem 6rem;

  &--icons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 4rem;
    text-align: center;
  }

  &--content {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-auto-flow: column;
    width: max-content;
  }
}

.languages,
.experience,
.interests {
  &--content {
    margin: 2rem 0 0 2rem;
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
}

.languages {
  &--content {
    & > div > h3 {
      margin-bottom: 1.4rem;
    }
    & > div > figure {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.experience {
  &--content {
    & > div > h3 {
      margin-bottom: 0.7rem;
    }
  }
}

.skill__logo {
  height: 40px;
}

.interest__icon {
  height: 40px;
  width: 40px;
}

.cv__btn {
  background: var(--color-secondary);
  padding: 6px 14px;
  border-radius: 25px;
  margin-left: 2rem;
  transition: all 0.25s;

  & > a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &--icon {
    width: 1.7rem;
    height: 1.7rem;
  }

  &:hover {
    scale: 1.1;
  }
}

@media (max-width: 768px) {
  .skills__grid {
    grid-auto-flow: row;
  }

  .languages,
  .experience,
  .interests {
    &--content {
      width: 100vw;
    }
  }
}

@media (max-width: 480px) {
  .cv__btn {
    margin-left: 0.5rem;

    transform: scale(0.7);
  }
  .skills {
    &__grid {
      grid-auto-flow: row;
      gap: 1;
    }
  }
}
