.about {
  padding: 13vh 0 0 10vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.5rem;
  animation: fadeIn 4s;

  &__title {
    animation: moveInLeft 4s;
  }

  &__grid.row {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-auto-flow: column;
    width: min-content;
    gap: 3rem;
  }

  &__grid--icons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 2rem;
    text-align: center;
  }

  &__grid--content {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-auto-flow: column;
    width: max-content;
    padding-left: 2rem;
    gap: 1rem 4rem;
  }

  &__flex {
    display: flex;
    gap: 5rem;
    padding-left: 2rem;
    text-align: center;
  }
}

.skill__logo {
  height: 40px;
}

.interest__icon {
  height: 40px;
  width: 40px;
}

.cv__btn {
  background: var(--color-secondary);
  padding: 6px 14px;
  border-radius: 25px;
  margin-left: 2rem;
  transition: all 0.25s;

  & > a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &--icon {
    width: 1.7rem;
    height: 1.7rem;
  }

  &:hover {
    scale: 1.1;
  }
}
