.work {
  padding: 13vh 0 0 10vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  animation: fadeIn 4s;

  &__title {
    animation: moveInLeft 4s;
  }
}

.projects {
  height: 70vh;
  width: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-left: -10vw;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.project__container {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 7px 0 lightgray;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 1.2s;
  animation: openUp 3s;

  &:hover {
    height: 400px;
    width: 400px;
    box-shadow: 0 0 34px 0 lightgray;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
  }
}

.proj--1 {
  height: 350px;
  width: 350px;
  background: url(/public/assets/images/hp_v4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.proj--2 {
  height: 350px;
  width: 350px;
  background: url(/public/assets/images/moov_v1_clipped.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 300ms;
}

.proj--3 {
  height: 350px;
  width: 350px;
  background: url(/public/assets/images/bgamer_v1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 600ms;
}
