.work {
  width: 100%;
  display: flex;
  padding: 5vh 0 10vh 3vw;
  gap: 10rem 15rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .work {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .work__title {
    font-size: 2rem;
  }
}
