.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10vw;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.project__container {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.project {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 0.5px white solid;
  box-shadow: 0 0 10px 0 lightgray;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 1.2s;
  animation: openUp 3s;

  &:hover {
    height: 400px;
    width: 400px;
    box-shadow: 0 0 34px 0 lightgray;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
  }

  &__logo {
    animation: fadeIn 4s;
  }
}

.proj--1 {
  background: url(/public/assets/images/hp_v4.png);
}
.proj--2 {
  background: url(/public/assets/images/moov_v1_clipped.png);
}
.proj--3 {
  background: url(/public/assets/images/bgamer_v1.png);
}
.proj--1,
.proj--2,
.proj--3 {
  height: 350px;
  width: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .work {
    flex-direction: column;
  }
  .project__container {
    height: 350px;
    width: 350px;
    gap: 1rem;
  }
  .project:hover {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 480px) {
  .work__title {
    font-size: 2rem;
  }
}
