@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inconsolata, sans-serif;
  box-sizing: border-box;
  background: var(--color-terciary);
  color: var(--text-primary);
  font-size: 1.5rem;
}

.page--container {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-left: 10vw;
  gap: 3rem;
}
.page--title {
  -webkit-animation: moveInLeft 4s;
          animation: moveInLeft 4s;
}
.page--content {
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
}

@media (max-width: 768px) {
  .page--container {
    padding-left: 5vw;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 1.1rem;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  50% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  50% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveText {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes moveText {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes openUp {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes openUp {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.color--2 {
  color: var(--text-secondary);
}
.color--4 {
  color: var(--text-fourth);
}
.color--5 {
  color: var(--text-fifth);
}
.color--6 {
  color: var(--text-sixth);
}

:root {
  --color-primary: #1e90ff;
  --color-secondary: #6d0abe;
  --color-terciary: #0e0f0f;
  --color-accent-primary: #1721a7;
  --color-accent-secondary: #1e90ff;
  --text-primary: #ffffff;
  --text-secondary: #6d0abe;
  --text-terciary: #0e0f0f;
  --text-fourth: #ffd902;
  --text-fifth: #ff7c02;
  --text-sixth: #79923d;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10vw;
  position: absolute;
  z-index: 999;
  font-size: 2.2rem;
  justify-content: space-between;
}
.nav__logo {
  background: var(--color-secondary);
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-animation: moveInTop 6s;
          animation: moveInTop 6s;
}
.nav__logo > img {
  transform: scale(1.5);
}
.nav__list {
  display: flex;
  list-style: none;
}
.nav__item > a {
  text-decoration: none;
  color: var(--text-secondary);
  margin-left: 2rem;
  position: relative;
  transition: all 2sec;
}
.nav__item > a > span {
  color: var(--text-primary);
  font-size: 2rem;
  letter-spacing: 1.1px;
}
.nav__item > a:after {
  content: "";
  background: var(--color-secondary);
  border: 1px solid white;
  border-radius: 100px;
  position: absolute;
  top: 110%;
  left: 0;
  width: 0;
  opacity: 0;
  transition: all 1s;
}
.nav__item > a:hover:after {
  width: 102%;
  opacity: 1;
}

@media (max-width: 768px) {
  .nav {
    padding: 0 5vw;
  }
  .nav__list {
    opacity: 0;
  }
}
@media (max-width: 480px) {
  .nav {
    padding: 0 5vw;
  }
  .nav__list {
    opacity: 0;
  }
  .nav__item > a {
    margin-left: 0.5rem;
  }
}
.container {
  position: relative;
  background-color: lightgray;
  height: 400vh;
  padding: 6rem 0;
}

.sidebar {
  position: fixed;
  right: 0%;
  top: 23%;
  z-index: 999;
}
.sidebar--btn {
  background: var(--color-accent-primary);
  box-shadow: 0 0 3px 0 var(--color-accent-secondary);
  color: var(--color-accent-secondary);
  width: 6rem;
  height: 6rem;
  margin-bottom: 4rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
.sidebar--btn > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-accent-secondary);
}
.sidebar--btn:hover {
  scale: 1.1;
  background: var(--color-secondary);
}

.page--1 {
  background: var(--color-terciary);
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  position: absolute;
  top: 0;
  z-index: 2;
  padding-top: 20vw;
}
.page--2 {
  height: 370vh;
  width: 100%;
  font-size: 1.5rem;
  position: absolute;
  top: 25%;
  z-index: 1;
  color: var(--text-secondary);
  background: linear-gradient(to left, #859398, #283048);
  padding-top: 12vw;
}
.page--3 {
  background: var(--color-terciary);
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  position: absolute;
  top: 120%;
  z-index: 2;
}
.page__content {
  margin: 0 0 6rem 20vw;
}
.page__title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.intro--1 {
  margin-top: 8rem;
  margin-bottom: 12rem;
  width: 67ch;
  line-height: 1.3;
}

.circle {
  background: url(/public/assets/images/me.jpg);
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 7px 0 lightgray;
  position: absolute;
  top: 40%;
  right: 15%;
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
}

.curve {
  position: absolute;
  z-index: 2;
}
.curve--bottom {
  top: 100%;
}
.curve--top {
  top: -45%;
}

.story {
  color: var(--text-primary);
  line-height: 1.2;
  letter-spacing: 0.2px;
  font-weight: bold;
}
.story--tag {
  margin: 3rem 0 8vh 15vw;
  letter-spacing: 0.3px;
}
.story__paragraph {
  font-size: 1.7rem;
  width: 75ch;
}
.story__paragraph > li {
  list-style-type: circle;
  margin-left: 4rem;
  font-size: 1.5rem;
}
.story--highlight {
  color: var(--text-fourth);
  font-size: 1.9rem;
}
.story--scratch {
  text-decoration: line-through;
}

.story__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20vw;
  padding: 5vh 0;
  gap: 3rem;
  opacity: 0;
  filter: blur(5px);
  transform: translate(-10%);
  transition: all 3s;
}
.story__page.dot {
  height: 10vh;
  padding: 0;
  font-size: 3rem;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}

.contact__modal {
  position: fixed;
  right: 6%;
  bottom: 6%;
  background: var(--color-secondary);
  color: white;
  height: 60px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 white;
  -webkit-animation: moveInRight 3s;
          animation: moveInRight 3s;
}

.backTop {
  display: none;
  position: fixed;
  z-index: 999;
  left: 1.5%;
  bottom: 3%;
  background: #ccc;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px 0 white;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.skills__flex {
  display: flex;
  gap: 5rem;
  padding-left: 2rem;
  text-align: center;
}

.skills__grid {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-auto-flow: column;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  gap: 3rem 6rem;
}
.skills__grid--icons {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 4rem;
  text-align: center;
}
.skills__grid--content {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-auto-flow: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.languages--content,
.experience--content,
.interests--content {
  margin: 2rem 0 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.languages--content > div > h3 {
  margin-bottom: 1.4rem;
}
.languages--content > div > figure {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.experience--content > div > h3 {
  margin-bottom: 0.7rem;
}

.skill__logo {
  height: 40px;
}

.interest__icon {
  height: 40px;
  width: 40px;
}

.cv__btn {
  background: var(--color-secondary);
  padding: 6px 14px;
  border-radius: 25px;
  margin-left: 2rem;
  transition: all 0.25s;
}
.cv__btn > a {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.cv__btn--icon {
  width: 1.7rem;
  height: 1.7rem;
}
.cv__btn:hover {
  scale: 1.1;
}

@media (max-width: 768px) {
  .skills__grid {
    grid-auto-flow: row;
  }
  .languages--content,
.experience--content,
.interests--content {
    width: 100vw;
  }
}
@media (max-width: 480px) {
  .cv__btn {
    margin-left: 0.5rem;
    transform: scale(0.7);
  }
  .skills__grid {
    grid-auto-flow: row;
    gap: 1;
  }
}
.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10vw;
}
.work__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__container {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.project {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 0.5px white solid;
  box-shadow: 0 0 10px 0 lightgray;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 1.2s;
  -webkit-animation: openUp 3s;
          animation: openUp 3s;
}
.project:hover {
  height: 400px;
  width: 400px;
  box-shadow: 0 0 34px 0 lightgray;
}
.project__title {
  font-size: 3rem;
  font-weight: bold;
}
.project__logo {
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
}

.proj--1 {
  background: url(/public/assets/images/hp_v4.png);
}

.proj--2 {
  background: url(/public/assets/images/moov_v1_clipped.png);
}

.proj--3 {
  background: url(/public/assets/images/bgamer_v1.png);
}

.proj--1,
.proj--2,
.proj--3 {
  height: 350px;
  width: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .work {
    flex-direction: column;
  }
  .project__container {
    height: 350px;
    width: 350px;
    gap: 1rem;
  }
  .project:hover {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 480px) {
  .work__title {
    font-size: 2rem;
  }
}
.achievments {
  display: grid;
  grid-template-columns: repeat(4, 55px 220px);
  gap: 3rem;
}

.achiev--icon {
  border: 3px white solid;
  box-shadow: 0 0 4px white;
  background-color: #333;
  height: 55px;
  width: 55px;
}
.achiev--icon > svg {
  fill: white;
}

.achiev--text {
  color: white;
}

.locked {
  border: 3px grey solid;
  box-shadow: none;
  color: grey;
}
.locked > svg {
  fill: grey;
}

@media (max-width: 768px) {
  .achievments {
    grid-template-columns: repeat(3, 55px 150px);
  }
}
@media (max-width: 480px) {
  .achievments {
    grid-template-columns: repeat(2, 55px 150px);
  }
}/*# sourceMappingURL=main.css.map */