//BASE
@import "sass/base/base";
@import "sass/base/animations";
@import "sass/base/typography";
@import "sass/variables/variables";

//COMPONENTS
@import "sass/components/navbar";
@import "sass/components/sidebar";
@import "sass/components/ToTop";

//PAGES
@import "sass/pages/homePage";
@import "sass/pages/skillsPage";
@import "sass/pages/workPage";
@import "sass/pages/morePage";
@import "sass/pages/errorPage";
