.nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10vw;
  position: absolute;
  z-index: 999;
  font-size: 2.2rem;
  justify-content: space-between;

  &__bars {
    display: none;
    z-index: 999;
    font-size: 2.5rem;
    cursor: pointer;
  }

  &__logo {
    background: var(--color-secondary);
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 0 5px 0 white;
    animation: moveInTop 6s;
    & > img {
      transform: scale(1.5);
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item > a {
    text-decoration: none;
    color: var(--text-secondary);
    margin-left: 2rem;
    position: relative;
    transition: all 2sec;
    cursor: none;

    & > span {
      color: var(--text-primary);
      font-size: 2rem;
      letter-spacing: 1.1px;
    }

    &:after {
      content: "";
      background: var(--color-secondary);
      border: 1px solid white;
      border-radius: 100px;
      position: absolute;
      top: 110%;
      left: 0;
      width: 0;
      opacity: 0;
      transition: all 1s;
    }

    &:hover:after {
      width: 102%;
      opacity: 1;
    }
  }

  &__modal {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    align-items: center;

    & > div {
      width: 60%;
      height: 25%;
      border-top: 2px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;

      & > a {
        text-decoration: none;
        color: var(--text-primary);
        font-size: 2.5rem;
        position: relative;
        transition: all 2sec;

        &:after {
          content: "";
          background: var(--color-secondary);
          border: 1px solid white;
          border-radius: 100px;
          position: absolute;
          top: 110%;
          left: 0;
          width: 0;
          opacity: 0;
          transition: all 1s;
        }

        &:hover:after {
          width: 102%;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 0 5vw;
    &__list {
      display: none;
    }
    &__bars {
      display: block;
    }
    &__modal {
      display: flex;
    }
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 0 5vw;

    &__logo {
      transform: scale(0.75);
      margin-top: -1rem;
    }

    &__list {
      opacity: 0;
    }

    &__item > a {
      margin-left: 0.5rem;
    }
  }
}
