.backTop {
  display: none;
  position: fixed;
  z-index: 999;
  left: 1.5%;
  bottom: 3%;
  background: #ccc;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px 0 white;
}
