@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }

  50% {
    opacity: 0;
    transform: translateY(-6rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveText {
  0% {
    transform: translateX(300%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveArrow {
  0% {
    transform: translateY(30%);
  }

  50% {
    transform: translateY(175%);
  }
  100% {
    transform: translateY(30%);
  }
}

@keyframes openUp {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
