@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inconsolata, sans-serif;
  box-sizing: border-box;
  background: var(--color-terciary);
  color: var(--text-primary);
}
