@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inconsolata, sans-serif;
  box-sizing: border-box;
  background: var(--color-terciary);
  color: var(--text-primary);
  font-size: 1.5rem;
}

.page {
  &--container {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 10vw;
    gap: 3rem;
  }

  &--title {
    animation: moveInLeft 4s;
  }

  &--content {
    animation: fadeIn 6s;
  }
}

@media (max-width: 768px) {
  .page {
    &--container {
      padding-left: 5vw;
    }
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1.1rem;
  }
}
