:root {
  --color-primary: #1e90ff;
  --color-secondary: #6d0abe;
  --color-terciary: #0e0f0f;

  --color-accent-primary: #1721a7;
  --color-accent-secondary: #1e90ff;

  --text-primary: #ffffff;
  --text-secondary: #6d0abe;
  --text-terciary: #0e0f0f;
  --text-fourth: #ffd902;
  --text-fifth: #ff7c02;
  --text-sixth: #79923d;
}
